# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependencies (将来的にnpm等を使う場合)
node_modules/

# Environment
.env
.env.local
.env.*.local
